<div class="card-container">
  <a class="card" rel="noopener" href="#city" (click)="selectAction(1)">
    <span style="text-align: center;">See the Cost and Price Averages of All Cities</span>
  </a>
</div>

<div *ngIf='action === 1'>
  <h3>Cost and Price Averages of All Cities</h3>

  <div *ngFor="let cityAverage of citiesAverages">
    <div class="card highlight-card card-small">
      {{ cityAverage.name }}
    </div>
    <div class="content">
      <span>Cost Average - R$ {{ cityAverage.averages.cost.toFixed(2) }}</span>
      <span>Price Average - R$ {{ cityAverage.averages.price.toFixed(2) }}</span>
    </div>
  </div>
</div>
