<div class="card-container">
  <a class="card" rel="noopener" href="#fuel-price" (click)="selectAction(1)">
    <span style="text-align: center;">Import a CSV File</span>
  </a>
</div>

<div *ngIf='action === 1'>
  <h3 class="content">Import a CSV File</h3>

  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="file" name="file" (change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit">Import CSV</button>
    </div>
  </form>
</div>
